@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital@1&display=swap");
@import "@fancyapps/ui/dist/fancybox.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@font-face {
  font-family: "helenehessregular";
  src: url("fonts/helenehess-regular-webfont.woff2") format("woff2"),
    url("fonts/helenehess-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kings_caslonregular";
  src: url("fonts/kings_caslon-webfont.woff2") format("woff2"),
    url("fonts/kings_caslon-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-snap-type: y mandatory;

  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#mainCarousel {
  --carousel-button-bg: #fff;

  --carousel-button-width: 38px;
  --carousel-button-height: 38px;

  --carousel-button-svg-width: 17px;
  --carousel-button-svg-height: 17px;

  --carousel-button-svg-stroke-width: 3;
  --carousel-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#thumbCarousel .carousel__slide {
  opacity: 0.5;
  padding: 0;
  margin: 0.25rem;
  width: 96px;
  height: 64px;
}

#thumbCarousel .carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

#thumbCarousel .carousel__slide.is-nav-selected {
  opacity: 1;
}

#mainCarousel .carousel__slide {
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 640px) {
  #mainCarousel .carousel__slide {
    width: 100%;
  }
}

.menu {
  position: absolute;
  top: 15px;
  left: 5px;
  height: 26px;
  width: 26px;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

/* ------------- */
.menu-line {
  background-color: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.25s ease-in-out;
}
.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-line-3 {
  bottom: 0;
}
.menu.open .menu-line-1 {
  background-color: #fff;
  transform: translateY(7px) translateY(-50%) rotate(-45deg);
}
.menu.open .menu-line-2 {
  background-color: #fff;
  opacity: 0;
}
.menu.open .menu-line-3 {
  background-color: #fff;
  transform: translateY(-7px) translateY(50%) rotate(45deg);
}

/* ------------- */
.menu-circle {
  background-color: #010f2a;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  transform: scale(1.75);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}
.menu:hover .menu-circle {
  transform: scale(1.5);
}
.menu.open .menu-circle {
  transform: scale(100);
}

/* ------------- */
.menu-overlay {
  background-color: #010f2a;
  color: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
  width: 100%;
}

/* ------------- */
.info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-info {
  text-align: center;
  color: #fff;
}

#content .slick-dots {
  bottom: 30px;
  z-index: 20;
}

#service #content .slick-dots {
  bottom: 150px;
  z-index: 30 !important;
}

#service2 #content .slick-dots {
  bottom: 250px;
  z-index: 20;
}

#content .slick-dots li button:before {
  font-size: 12px;
  color: #b6a694;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

#content .slick-dots li {
  margin: 1px !important;
}

#content .slick-next,
.slick-prev {
  width: 64px;
  height: 64px;
}

#content .slick-prev {
  left: 15px;
  z-index: 20;
}

#content .slick-next {
  right: 15px;
  z-index: 20;
}

@media screen and (min-width: 1024px) {
  #content .slick-prev {
    left: 300px;
    z-index: 20;
  }

  #content .slick-next {
    right: 300px;
    z-index: 20;
  }
}
#content .slick-next:before,
.slick-prev:before {
  font-size: 0px;
  color: #b6a694;
  background-color: #000;
}

#content .slick-next:before {
  content: url("Component14.svg");
}

#content .slick-prev:before {
  content: url("Component15.svg");
}

#content .slick-arrow {
  color: #b6a694;
}
